{% extends 'donations/layout.html' %}
{% block body %}
<section>
  <h1>Thank you!</h1>
  <p>
    There's nothing else you need to do right now. We will bill your credit card ending in {{ 6577 }} every month starting in a few days.
  </p>
  <p>
    We'll also email you to double check the details of your donation.
  </p>
  <p>
    If you need to contact us about your donation, please <a href="mailto:hello@tributary.foundation">email us</a>. To make it easier, please include your donation's ID, which is {{ "uu2710as" }}. This ID is also in the email we sent you.
  </p>
</section>
{% endblock %}
