{% extends 'donations/layout.html' %}
{% block body %}
<div class="container">
  <h1>Setup a donation</h1>

  <form action="" method="POST" id="donation-form">
    {% csrf_token %}

    <h4>Tell us how to reach you</h4>
    {{ form.non_field_errors }}
    <label>
      {{ form.name.errors }}
      <span>Name</span>
      {{ form.name }}
    </label>
    <label>
      {{ form.email.errors }}
      <span>Email</span>
      {{ form.email }}
    </label>
    <hr />
    <h4>Tell us how to charge you</h4>
    <p>Each month we will charge your credit card the amount you indicate below. We use <a href="https://stripe.com">stripe</a> to ensure your information is safe.</p>


    {# credit card info fields #}
    {# it is important that the credit card info fields DON'T have name attributes set #}
    {# that keeps their values from being submitted to our server #}
    <ul class="errorlist" id="payment-errors"><li></li></ul>
    <label>
      <span>Card Number</span>
      <input type="text" data-stripe="number">
    </label>
    <label class="inline">
      <span>Expiration (MM/YY)</span>
      <input type="text" data-stripe="exp_month" class="two-wide">
      <span> / </span>
      <input type="text" data-stripe="exp_year" class="two-wide">
    </label>
    <label class="inline">
      <span>CVC</span>
      <input type="text" data-stripe="cvc" class="four-wide">
    </label>
    {{ form.stripe_card_token }}
    {# end credit card info fields #}

    <hr />
    <label>
      <span>Donate {{ form.amount }} each month</span>
    </label>
    <label>
      {{ form.tip }}
      <span>Add an optional $5 tip to help Tributary</span>
    </label>

    <hr />

    <h4>Tell us where to send your donation</h4>
    <p>Someone will read this before we send any money anywhere. You can enter multiple nonprofits if you'd like, we'll split your donation evenly. Please include their website if possible.</p>
    <label>
      {{ form.instructions.errors }}
      <div>How to donate</div>
      {{ form.instructions }}
    </label>
    <input type="submit" class="submit button-primary" value="Next">
  </form>


<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  Stripe.setPublishableKey('{{ stripe_publishable_key }}');
</script>
<script type="text/javascript">
  var form = document.getElementById('donation-form');
  form.addEventListener('submit', function(e) {
    e.preventDefault();

    var submitButton = form.querySelector('.submit');

    submitButton.setAttribute("disabled", "disabled");

    Stripe.card.createToken(form, function(status, response){
      if(response.error){
        form.querySelector('#payment-errors li').textContent = response.error.message;
        submitButton.removeAttribute("disabled");
      } else {
        var token = response.id;
        var token_field = document.getElementsByName('stripe_card_token')[0];
        token_field.setAttribute("value", token);
        form.submit();
      }
    });
  });
</script>
{% endblock %}
