<!DOCTYPE html>
<html>
  <head>
    <title>Tributary Foundation</title>
    <link rel="stylesheet" type="text/css" href="http://getskeleton.com/dist/css/skeleton.css">
    <style>
      body{ font-size: 2em; }
      .center{ text-align: center; }
      .hero { padding: 4rem; }
      .hero .button{ display: inline-block; font-size: 3rem; padding: 1rem 4rem; height: 6rem; text-transform: none; font-weight: normal; }
      .hero h1{ margin-bottom: 4rem; font-weight: bold; }
      .hero h2{ margin-bottom: 3rem; }
      section h3{ text-align: center; }
    </style>
  </head>
  <body>
    <div class="container">
      <header class="row">
        <strong>Tributary Foundation</strong>
        <!-- <h2>donate sustainably</h2> -->
      </header>
      <br /><br />
      <section class="row center hero">
        <h1>Donate sustainably</h1>
        <h2>Give monthly to any nonprofits you choose.</h2>
        <h2><a class="button button-primary hero">Get started</a></h2>
      </section>
      <hr />
      <section class="row">
        <h3>How it works</h3>
        <p>We make monthly contributions for you. Tell us which organizations you want to support and how much to charge your credit card. We use <a href="https://stripe.com">stripe</a> to store your information securely.</p>
        <p>Donations aren't tax-deductible for now, but we are working on that.</p>
        <p>We also ask that you give us an optional $5 tip to help with our operations.</p>
        <p class="center"><a class="button button-primary">Get started</a></p>
      </section>
      <hr />
      <section class="row">
        <h3>Who we are</h3>
        <p>We are Rodrigo and Spencer. We are building Tributary to scratch our own itch and help the world.</p>
        <p class="center"><a class="button button-primary">Start!</a></p>
      </section>

    </div>
  </body>
</html>
