<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Tributary Foundation{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body class="{% block bodyclass %}{% endblock %}">
    <div class="container">
      <header class="row">
        <strong>Tributary Foundation</strong>
        <!-- <h2>donate sustainably</h2> -->
        <a class="contact" href="mailto:hello@tributary.foundation">Contact us</a>
      </header>
      <br /><br />
      {% block body %}
      {% endblock %}
      <footer>
        <hr />
        <p class="center">Questions? Comments? Feedback? Please <a class="contact" href="mailto:hello@tributary.foundation">contact us</a>.</p>
      </footer>
    </div>
  </body>
</html>
